.heading {
  border-bottom: 0.25rem solid var(--foreground-color);
  display: flex;
  align-items: flex-start;
}

.heading__arrow {
  flex: 0;
  margin-top: 0.4em;
  margin-right: 0.5em;
  height: 1rem;
}

.heading__text {
  flex: 1;
  margin: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
