:root {
  --background-color: #f5f6fa;
  --foreground-color: #2f3640;
  --success-color: #4cd137;
  --warning-color: #e84118;
}

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: var(--background-color);
  box-sizing: border-box;
  color: var(--foreground-color);
  font-family: Roboto, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 18px;
  line-height: 1.5;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

h1,
h2,
h3 {
  font-family: "Roboto Mono", Roboto, "Open Sans", "Helvetica Neue", sans-serif;
}
